/* google fonts section */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* font poppins */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: white;
}

/* banner section */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #2d25a0;
  height: 600px;
  width: 100%;
}

.banner-detail h3 {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 64px;
  color: white;
  transition: transform 0.6s ease-out;
}
.button {
  text-decoration: none;
  font-weight: 16px;
  background-color: #e02c6d;
  color: white;
  padding: 9px 22px;
  margin-top: 30px;
}

/* player lists section */

.player-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 1000px;
  margin: 43px auto 165px auto;
  grid-column-gap: 30px;
 
}
.player {
  margin-top: 30px;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
  padding: 15px;
}

.player h4 {
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 10px;
}
.player p,
.watch-highlights-text p {
  font-size: 16px;
  color: #6c6c6c;
}

/* watch highlights section */

.watch-highlights {
  display: flex;
  align-items: center;
  column-gap: 66px;
  justify-content: center;
}
.watch-highlights-text h4 {
  font-size: 48px;
  color: #0a0826;
  margin: 0;
}
.watch-highlights-text p {
  margin-top: 8px;
  margin-bottom: 24px;
}

/* footer style */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 158px;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.social-icons a{
  padding:0 10px;
  color: #E7E7E8;
  height: 32px;
  width: 32px;
}
.copyright {
  margin: 20px auto 63px auto;
  font-size: 18px;
}

/* Media Queries */

/* Mobile devices */
@media only screen and (max-width: 688px) {
  .banner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banner-container h3,
  .watch-highlights h4,
  .news-title h3 {
    margin-top: 20px;
    font-size: 32px;
    margin-left: 15px;
  }

  .banner-img img,
  .watch-highlights-img img {
    width: 100%;
    margin-top: 30px;
  }
  .player-list {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    align-content: center;
    margin-bottom: 44px;
  }
  .player {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .watch-highlights {
    width: 100%;
    flex-direction: column;
  }
  .watch-highlights p {
    margin-top: 10px;
    margin-left: 16px;
  }
  .watch-highlights .button {
    margin-left: 15px;
  }
  footer .logo img {
    width: 200px;
  }
}
